body{
	overflow-x:hidden;
	font-family: sans-serif;
	font-size:16px;
}
.navbar{
	text-transform:uppercase;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .1rem;
	background-color: rgba(0,0,0,0.6)!important;
}
.navbar-nav li{
	margin-left:3rem;
}
.background-image{
	position:relative;
}
.text-img{
	position:absolute;
	top:25%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:4rem;
	letter-spacing: .6rem;
}
.text-img2{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:2.5rem;
	letter-spacing: .0.3rem;
}